* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(242, 237, 237);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav-left {
    color: black;
    font-weight: 900;
    font-size: large;
}

.menu-icon {
    display: none;
}

.nav-menu {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 12px;
}

.nav-menu a:hover {
    color: #2E8B57;
}

.book-btn {
    background-color: #fff;
    color: #0d7239;
    border: 1px solid #0d7239;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.book-btn:hover {
    color: #fff;
    background-color: #0d7239;
    border: 1px solid #0d7239;
}

/* Header */
.header {
    text-align: center;
    /* margin: 28px 18px; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 34px;
    font-weight: 700;
}

.header p {
    color: #0d7239;
    font-size: 18px;
    margin-top: 8px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
    padding: 24px 36px;
    flex-wrap: wrap;
}

/* Contact Section */
.contact-section {
    flex: 1;
    max-width: 400px;
}

.contact-section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: black;
}

.contact-section-subtext {
    color: rgb(57, 56, 56);
    margin-bottom: 40px;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 14px 24px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.contact-card-details {
    display: flex;
    flex-direction: column;
}

.contact-card-details a {
    color: #0d7239;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
}

/* Booking Section */
.booking-section {
    flex: 1;
    max-width: 450px;
    background-color: #fff;
    padding: 18px 24px;
    border-radius: 12px;
}

.booking-section h2 {
    margin-bottom: 10px;
    color: black;
}

.boooking-steps {
    margin-bottom: 25px;
}

.booking-steps p {
    color: rgb(57, 56, 56);
    margin-bottom: 5px;
}

.choose-service-section {
    flex-direction: column;
    margin-bottom: 25px;
    padding: 10px;
}

label {
    display: block;
    font-weight: 600;
    margin: 18px 12px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
    margin-bottom: 14px;
}

/* Calendar */
.calendar {
    border: 1px solid rgb(57, 56, 56);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 18px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 600;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 4px;
    font-size: 15px;
}

.calendar-grid div {
    padding: 9px;
    border-radius: 4px;
}

.calendar-grid div:hover {
    background-color: #2E8B57;
    color: white;
}

/* Time buttons */
.time {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 18px;
}

.time-grid button {
    background-color: #fff;
    border: 1px solid #0d7239;
    color: #0d7239;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.time-grid button:hover {
    background-color: #0d7239;
    color: white;
    border: #0d7239;
}

/* Confirm button */
.confirm-btn {
    width: 100%;
    padding: 12px;
    background-color: #0d7239;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.confirm-btn:hover {
    color: #0d7239;
    background-color: white;
    border: 1px solid #0d7239;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    text-align: center;
    padding: 15px;
    background-color: white;
    font-size: 15px;
}

.footer-links a {
    color: #2E8B57;
    margin: 12px;
    text-decoration: none;

}

.footer-links a:hover {
    color: black;
}

@media screen and (max-width:768px) {
    .main-content {
        display: block;
    }

    .header h1 {
        font-size: medium;
    }

    .header p {
        font-size: small;
    }

    .menu-icon {
        display: flex;
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .nav-menu {
        display: none;
        background-color: transparent;
        position: absolute;
        top: 50px;
        right: 0;
        padding: 2px;
        text-align: center;
    }

    .nav-menu a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 2px;
        margin: 3px;
        font-size: 3px;
        font-weight: 100;
    }

    .nav-menu a:hover {
        color: white;
        background-color: #0d7239;
    }

    .book-btn {
        font-size: 3px;
        padding: 2px 5px;
        font-weight: 100;
    }

    .main-content {
        padding: 8px 12px;
    }

    .booking-section {
        margin-top: 45px;
    }

    .calendar-grid {
        text-align: center;
        gap: 2px;
        font-size: 8px;
    }

    .contact-section h2 {
        font-size: medium;
    }

    .booking-section h2 {
        font-size: medium;
    }
}