* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
}

.hero {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(242, 237, 237);
}

nav {
    margin-top: 5px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 10px;

}

.nav-left {
    color: black;
    font-weight: 900;
    font-size: large;
}

.menu-icon {
    display: none;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin: 12px;
    cursor: pointer;
}

.nav-menu a:hover {
    color: #0d7239;
}

.button {
    color: black;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #0d7239;
    cursor: pointer;
}


.button:hover {
    color: white;
    background-color: #0d7239;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.main-top {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    font-size: 25px;
    padding: 12px;
    margin-bottom: 100px;
    background-color: gainsboro;
}

.page-header {
    flex: 1;
}

.page-header-text {
    font-weight: 900;
    margin-bottom: 15px;
}

.page-header-subtext {
    color: #0d7239;
    font-size: 18px;
    font-size: 15px;
    margin-bottom: 15px;
}

.image-container img {
    width: 400px;
    object-fit: cover;
    height: 300px;
    border-radius: 8px;
    justify-content: flex-end;
    flex: 1;

}

.main-top .button {
    color: white;
    background-color: #0d7239;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #0d7239;
    cursor: pointer;
}

.main-body {
    flex-direction: column;
    display: flex;
    width: 100%;
    font-size: larger;
    margin-bottom: 80px;
}

.page-body-text {
    font-weight: 100;
    margin-bottom: 5px;
    font-size: medium;
}

.page-body-content-one {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 50px;
}

.pbc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 5px;
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
}

.pbc-header {
    font-weight: bold;
    color: black;
    font-size: large;
    font-size: medium;
    margin-bottom: 3px;
}

.pbc-subtext {
    font-weight: light;
    color: #0d7239;
    font-size: medium;
    font-size: small;
}

.page-body-text-two {
    font-weight: 100;
    margin-bottom: 5px;
    font-size: medium;
}

.page-body-content-two {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.pbc-content-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    padding: 15px 5px;
    flex: 1;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid #0d7239;
    margin-bottom: 20px;
}

.fig-button {
    background-color: #0d7239;
    color: #fff;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-self: center;
    margin-bottom: 15px;
}

.pbc-header-two {
    font-weight: bold;
    color: black;
    font-size: large;
    font-size: medium;
    margin-bottom: 3px;
    text-align: center;
}

.pbc-subtext-two {
    font-weight: light;
    color: #0d7239;
    font-size: medium;
    font-size: small;
    text-align: center;
}

.body-end {
    margin-top: 50px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    border-radius: 5px;
    width: 100%;
}

.body-end img {
    width: 55px;
    height: 55px;
    border-radius: 45px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 8px;
}

.body-end i {
    font-size: 18px;
    font-weight: normal;
}

.body-end p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-section h5 {
    color: black;
    font-weight: 900;
    font-size: large;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
}

.footer-links a {
    text-decoration: none;
    color: #0d7239;
    cursor: pointer;
    font-size: medium;
}

.footer-links a:hover {
    color: black;
}

.footer-section p {
    font-weight: 100;
    font-size: small;
    color: #0d7239;
}

@media screen and (max-width:768px) {
    * {
        font-size: 9px;
    }

    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-bar {
        flex-direction: row;
        padding: 2px 7px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-left {
        font-weight: 900;
        font-size: 18px;
    }

    .menu-icon {
        display: flex;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 8px;
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .nav-menu {
        display: none;
        background-color: transparent;
        position: absolute;
        top: 50px;
        right: 0;
        padding: 2px;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 0;
        padding: 12px;
        text-align: center;
    }

    .nav-menu a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 2px;
        margin: 3px;
        font-size: 3px;
        font-weight: 100;
        padding: 10px;
    }

    .nav-menu a:hover {
        color: white;
        background-color: #0d7239;
    }


    .button {
        font-size: 3px;
        padding: 2px 5px;
        font-weight: 100;
    }

    .main-top .button {
        font-size: 6px;
        padding: 2px 5px;
        font-size: 8px;
    }

    .nav-menu a {
        font-size: 7px;
        font-weight: 100;
    }

    .page-header-text {
        font-weight: 500;
        font-size: larger;
    }

    .page-header-subtext {
        font-size: 12px;
    }

    .image-container img {
        display: none;
    }

    .page-body-content-two {
        display: block;
    }

    .page-body-content-one {
        display: block;
    }

    .pbc-header {
        font-size: 18px;
    }

    .pbc-subtext {
        font-size: 15px;
    }

    .footer-section h5 {
        font-size: 25px;
    }

    .main-top {
        flex-direction: row;
        font-size: 10px;
        justify-content: center;
        padding: none;
    }

    .page-body-text h4 {
        font-size: 12px;
    }

    .page-body-text-two h4 {
        font-size: 12px;
    }

    .body-end {
        padding: 16px;
    }

    .body-end i {
        font-size: medium;
    }

    .footer-section {
        justify-content: space-between;
        align-items: center;
    }

    .footer-section h5 {
        font-size: medium;
        font-weight: 400;
    }

    .footer-links {
        gap: 4px;
    }

    .footer-links a {
        font-size: 8px;
    }

    .footer-section p {
        font-size: 8px;
        margin-top: 3px;


    }
}