* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    font-size: small;
}

.name-placeholder {
    padding: 10px;
    border-width: 100%;
    height: auto;
}

.username-placeholder {
    padding: 10px;
    border-width: 100%;
    height: auto;
}


.email-placeholder {
    padding: 10px;
    border-width: 100%;
    height: auto;
}

.password-placeholder {
    padding: 10px;
    border-width: 100%;
    height: auto;
}

.login {
    color: white;
    background-color: #0d7239;
    border: 1px solid #0d7239;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    border: 2px solid #0d7239;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 12px 15px;
    margin-top: 4px;
    border-radius: 5px;
}

.label {
    font-size: 14px;
}