* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
}

.hero {
    background-color: rgb(242, 237, 237);
    padding-right: 100px;
    padding-left: 100px;
}

nav {
    margin-top: 5px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 70px;
}

.nav-left {
    color: black;
    font-weight: 900;
    font-size: larger;
}

.menu-icon {
    display: none;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}

.nav-menu a:hover {
    color: #0d7239;
}

.book-button {
    color: black;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #0d7239;
    cursor: pointer;
}

.book-button:hover {
    color: white;
    background-color: #0d7239;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;

}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.page-header-text {
    font-weight: 600;
    margin-bottom: 5px;
}

.page-header-subtext {
    color: #0d7239;
    margin-bottom: 5px;

}

.page-body-content-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.pbc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 18px 2px;
    flex: 1;
    margin-bottom: 20px;
}

.pbc-header {
    font-weight: bold;
    color: black;
    font-size: larger;
    margin-bottom: 3px;
}

.pbc-subtext {
    font-weight: light;
    color: #0d7239;
    font-size: medium;
}

.page-body-content-two {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
    margin-bottom: 60px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.main-footer-header {
    text-align: center;
    margin-bottom: 20px;
}

.main-footer-header-text {
    font-weight: 900;

}

.button {
    color: black;
    background-color: #fff;
    padding: 12px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #0d7239;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    color: #fff;
    background-color: #0d7239;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-links {
    flex-direction: row;
    margin-bottom: 18px;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    color: #0d7239;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    flex: 1;
    text-decoration: none;
    cursor: pointer;
}

.footer-links a:hover {
    color: black;
}

footer p {
    font-weight: 100;
    font-size: medium;
    color: #0d7239;
    margin-top: 30px;
    margin-bottom: 20px;

}

@media screen and (max-width:768px) {
    .hero {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .nav-left {
        font-size: 12px;
    }

    .menu-icon {
        display: flex;
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .nav-menu {
        display: none;
        background-color: transparent;
        position: absolute;
        top: 50px;
        right: 0;
        padding: 2px;
        text-align: center;
    }

    .nav-menu a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 2px;
        margin: 3px;
        font-size: 3px;
        font-weight: 100;
    }

    .nav-menu a:hover {
        color: white;
        background-color: black;
    }

    .nav-menu .button {
        font-size: 3px;
        padding: 2px 5px;
        font-weight: 100;

    }

    .page-header {
        margin-bottom: 30px;
    }

    .page-body-content-one {
        display: block;

    }

    .page-body-content-two {
        display: block;
        margin-bottom: 10px;
    }

    .main-footer {
        margin-bottom: 20px;
    }

    .main-footer-header-text {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .page-header-text {
        font-size: 20px;
        text-align: center;

    }

    .page-header-subtext {
        font-size: 15px;
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-links a {
        justify-content: center;
        align-items: center;
        flex: none;
        padding: 10px;
    }

    footer p {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}